# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg
_build/
docs/_build/

# Virtual environments
.venv/
venv/
env/

# Testing & coverage
.pytest_cache/
.coverage
htmlcov/

# Static type checkers & linters
.mypy_cache/
.ruff_cache/

# IDE & Editor artifacts
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store
